# DATABASE_URL=file:./dev.db
# TEST_DATABASE_URL=file:./.redwood/test.db
# PRISMA_HIDE_UPDATE_MESSAGE=true
# LOG_LEVEL=trace
# GOOGLE_MAPS_API_KEY=
# AUTH0_DOMANIN=
# AUTH0_CLIENT_ID=
# AUTH0_REDIRECT_URI=
# AUTH0_AUDIENCE=
